body{
    color: #000;
    margin: 0;
    padding: 0;
}
.container {
    position: relative;
    margin: 0 auto;
    
}
.delivery{
    height: 637px;
    background-color: #FBF8F8;
}
.delivery__item{
    display: flex;
    align-items: center;
    justify-content: center;    
    flex-direction: column;
}
.delivery__item-text{
    font-size: 34px;
}
.delivery__item-white{
    width: 223px;
    height: 278px;
    background-color: white;
    border-radius: 0px 33px 33px 33px;
    padding-left: 27px;
    padding-right: 27px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.delivery__window{
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.delivery__item-orange{
    width: 223px;
    height: 318px;
    background-color: #EE7700;
    color: white;
    border-radius: 0px 33px 33px 33px;
    padding-left: 27px;
    padding-right: 27px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.delivery__first-text{
    font-size: 18px;
}
.delivery__last-text{
    font-size: 14px;
}
.delivery__img{
    width: 35px;
    height: 35px;
}




.review{
    width: 1920px;
    height: 430px;
    background-image: url(../img/Bg.jpg);
    background-color: burlywood;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.review__item-text{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}
.review__last-text{
    text-align: center;
    font-size: 18px;
}
.review__first-text{
    font-size: 34px;
    
    
    text-align: center;
}
.review__item{
    width: 637px;
    height: 233px;
}
.button{
    width: 246px;
    height: 48px;
    background-color: white;
    color: #82BC00;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 24px 24px 24px;
}


